@model IEnumerable<Product>

@{
    ViewData["Title"] = "ProductIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    iakademi45Context context = new iakademi45Context();
    string CategoryName = "";
    string BrandName = "";
    string StatusName = "";
}

<!-- BEGIN CONTENT -->

<p>
    <a asp-action="ProductCreate" asp-controller="Admin" class="btn btn-success">YENİ ÜRÜN</a>
</p>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>ÜRÜNLER
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-dark table-hover">
                        <thead style="background-color:grey;color:white;">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryID)                                    
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Stock)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.StatusID)
                                </th>                                                             
                                <th>
                                    @Html.DisplayNameFor(model => model.Releted)
                                </th>                               
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.ProductID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.UnitPrice)
                                    </td>
                                    <td>
                                        @{
                                            CategoryName = context.Categories.FirstOrDefault(c => c.CategoryID == item.CategoryID).CategoryName;
                                                    @CategoryName
                                        }
                                    </td>
                                    <td>
                                        @{
                                            BrandName = context.Suppliers.FirstOrDefault(c => c.SupplierID == item.SupplierID).BrandName;
                                                    @BrandName
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.Stock)
                                    </td>                                    
                                    <td>
                                        @{
                                            StatusName = context.Statuses.FirstOrDefault(c => c.StatusID == item.StatusID).StatusName;
                                            if (item.StatusID == 1)
                                            {
                                              <span style="background-color:red;color:white;">@StatusName</span>
                                            }
                                            else if (item.StatusID == 2)
                                            {
                                                <span style="background-color:#AA77FF;color:white;">@StatusName</span>
                                            }
                                            else if (item.StatusID == 3)
                                            {
                                                <span style="background-color:#D27685;color:white;">@StatusName</span>
                                            }
                                            else if (item.StatusID == 4)
                                            {
                                                <span style="background-color:#00235B;color:white;">@StatusName</span>
                                            }
                                            else if (item.StatusID == 5)
                                            {
                                                <span style="background-color:#FFDD83;color:white;">@StatusName</span>
                                            }
                                            else if (item.StatusID == 6)
                                            {
                                                <span style="background-color:#F7C04A;color:white;">@StatusName</span>
                                            }
                                            else
                                            {
                                                
                                            }
                                            
                                        }
                                    </td>                                                                      
                                    <td>
                                        @Html.DisplayFor(model => item.Releted)
                                    </td>
                                    @if (item.Active == true)
                                    {
                                        <td style="background-color:green;color:white;">
                                            <label>AKTİF</label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="background-color:red;color:white;">
                                            <label>PASİF</label>
                                        </td>
                                    }

                                    <td>
                                        <a asp-action="ProductEdit" asp-route-id="@item.ProductID" class="btn btn-primary">DÜZELT</a>
                                        <a asp-action="ProductDetails" asp-route-id="@item.ProductID" class="btn btn-info">DETAY</a>
                                        <a asp-action="ProductDelete" asp-route-id="@item.ProductID" class="btn btn-danger">SİL</a>
                                    </td>

                                    @*<td class="@(item.Active ? "is-active" : "is-inactive")">
                                @Html.DisplayFor(modelItem=>item.Active)
                                </td>*@                               

                                    
                                </tr>                               
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- END CONTENT -->
