@model Status
@{
    ViewData["Title"] = "StatusDetails";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<br />
<br />
<!-- BEGIN PAGE CONTENT-->
<div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs">
                    </i><span style="background-color:red;color:white;">@Html.DisplayFor(model => model.StatusName)</span> STATÜ BİLGİLERİ
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped table-condensed flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th width="20%">
                                @Html.DisplayNameFor(model => model.StatusID)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.StatusID)
                            </td>
                        </tr>
                        <tr>
                            <th width="20%">
                                @Html.DisplayNameFor(model => model.StatusName)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.StatusName)
                            </td>
                        </tr>                        
                        <tr>
                            <th width="20%">
                                @Html.DisplayNameFor(model => model.Active)
                            </th>
                            <td>
                                @Html.DisplayFor(model => model.Active)
                            </td>
                        </tr>
                    </thead>
                </table>

                <a asp-action="StatusIndex" class="btn btn-primary">STATUS LİSTESİ</a>

            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->