@model IEnumerable<Supplier>

@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- BEGIN CONTENT -->

<p>
    <a asp-action="SupplierCreate" asp-controller="Admin" class="btn btn-success">YENİ MARKA</a>
</p>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-8">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>MARKALAR
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-dark table-hover">
                        <thead style="background-color:grey;color:white;">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhotoPath)
                                </th>
                                <th></th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.SupplierID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.BrandName)
                                    </td>
                                    <td>
                                        <img src="~/resimler/@item.PhotoPath" height="30" width="70"/>
                                    </td>                                    
                                    <td style="text-align:center;">
                                        <a asp-action="SupplierEdit" asp-route-id="@item.SupplierID" class="btn btn-primary">DÜZELT</a>
                                        <a asp-action="SupplierDetails" asp-route-id="@item.SupplierID" class="btn btn-info">DETAY</a>
                                        <a asp-action="SupplierDelete" asp-route-id="@item.SupplierID" class="btn btn-danger">SİL</a>
                                    </td>

                                    @if (item.Active == true)
                                    {
                                        <td style="background-color:green;color:white; height:20px;width:60px;">
                                            <label>AKTİF</label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="background-color:red;color:white;">
                                            <label>PASİF</label>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->
<!-- END CONTENT -->
