

@{
    ViewData["Title"] = "DetailedSearch";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!-- Single product area start  -->
<div class="shop-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3"></div>

            <div class="col-sm-3 col-md-6 col-lg-6">
                <div class="shop-by">
                    <h3>ARAMA KRİTERLERİNİZİ GİRİNİZ</h3>
                </div>
                <div class="all-shop-cat">
                    <form action="/Home/DProducts" method="post">
                        <div class="single-shop-cat" style="border-color:black;">
                            
                            @{
                                List<SelectListItem> kList = new List<SelectListItem>();
                                foreach (var item in ViewBag.Categories as List<Category>)
                                {
                                    SelectListItem sli = new SelectListItem();
                                    sli.Text = item.CategoryName;
                                    sli.Value = item.CategoryID.ToString();
                                    kList.Add(sli);
                                }
                            }
                            <h3><span style="background-color:black;color:white;"> KATEGORİ SEÇİNİZ </span>
                                @Html.DropDownList("CategoryID",new SelectList(kList,"Value","Text"))
                            </h3>
                        </div>

                        <br />

                        <div class="single-shop-cat" style="border-color:black;">
                            <h3 class="manufacturers"><span style="background-color:black;color:white;"> MARKA SEÇİNİZ </span></h3>
                            <ul>
                                @foreach (var item in ViewBag.Suppliers as List<Supplier>)
                                {
                                    <li>
                                        <div class="chack-boutton">
                                            <input type="checkbox" name="SupplierID" value="@item.SupplierID">&nbsp;&nbsp;@item.BrandName
                                        </div>
                                        <span>
                                            @{
                                                iakademi45Context context = new iakademi45Context();
                                                int id = item.SupplierID;
                                                int quantity = context.Products.Where(p => p.SupplierID == id).Count();
                                            }
                                            @quantity Adet Ürün
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                        <br />

                        <div class="single-shop-cat" style="border-color:black;">
                            <h3 class="manufacturers">
                                <span style="background-color:black;color:white;"> FİYAT SEÇİNİZ </span>
                            </h3>
                            <div class="price_filter">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <p><input type="text" id="amount" name="price" placeholder="Add Your Price" /></p>  
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="single-shop-cat" style="border-color:black;">

                            <div class="price_filter">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    @Html.RadioButton("IsInStock","1",new { Value = "1", @checked = true})
                                    @Html.Label("STOKTA OLANLAR")

                                    &nbsp;&nbsp; &nbsp; &nbsp;
                                    @Html.RadioButton("IsInStock","0",new { Value = "0"})
                                    @Html.Label("HEPSİ")

                                </div>
                            </div>
                        </div>

                        <br />

                            <div class="price_filter">
                                <div class="price_slider_amount">
                                    <input type="submit" value="ARA" />
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Single product area End  -->

