@model IEnumerable<Pharmacy>
@{
    ViewData["Title"] = "PharmacyOnDuty";
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
    int count = 0;
    iakademi45Context context = new iakademi45Context();
}

<div class="container">
    <div class="row">

        <input type="text" id="txt_search" name="" value="Ara"/>
        <table class="table table-dark table-hover" >
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(x=>x.Tarih)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.LokasyonX)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.LokasyonY)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.Adi)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.Telefon)</th>
                    <th scope="col">@Html.DisplayNameFor(x=>x.Adres)</th>
                </tr>
            </thead>
            <tbody id="tablepharmacy">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Tarih</td>
                        <td>@item.LokasyonX</td>
                        <td>@item.LokasyonY</td>
                        <td>@item.Adi</td>
                        <td>@item.Telefon</td>
                        <td>@item.Adres</td>
                    </tr>
                    count++;
                }   
            </tbody>
        </table>
    </div>

    <span style="background-color:red;color:white;font-size:30px;">Toplam Eczane = @count @Proje.Models.Suffix.RightSuffix(count)</span>

</div>
<script>
    $(document).ready(function(){
        $("#txt_search").on("keyup",function(){
            var value = $(this).val().toLowerCase();
            $("tablepharmacy tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value)> -1);
            })
        })
    })
</script>
