@model IEnumerable<Category>
 
@{
    ViewData["Title"] = "CategoryIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
 
<!-- BEGIN CONTENT -->
 
        <p>
            <a asp-action="CategoryCreate" asp-controller="Admin" class="btn btn-success">YENİ KATEGORİ</a>
        </p>
 
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-8">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="portlet box red">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-cogs"></i>KATEGORİLER
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse">
                            </a>
                            <a href="#portlet-config" data-toggle="modal" class="config">
                            </a>
                            <a href="javascript:;" class="reload">
                            </a>
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable">
                            <table class="table table-dark table-hover">
                                <thead style="background-color:grey;color:white;">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CategoryID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CategoryName)
                                        </th>
                                        <th></th>
                                        <th>@Html.DisplayNameFor(model => model.Active)</th>
                                    </tr>
                                </thead>
                                <tbody>
                            @foreach (var item in Model.Where(c => c.ParentID == 0))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.CategoryID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => item.CategoryName)
                                    </td>
                                    <td>
                                        <a asp-action="CategoryEdit" asp-route-id="@item.CategoryID" class="btn btn-primary">DÜZELT</a>                                        
                                        <a asp-action="CategoryDetails" asp-route-id="@item.CategoryID" class="btn btn-info">DETAY</a>
                                        <a asp-action="CategoryDelete" asp-route-id="@item.CategoryID" class="btn btn-danger">SİL</a>
                                    </td>

                                    @*<td class="@(item.Active ? "is-active" : "is-inactive")">
                                        @Html.DisplayFor(modelItem=>item.Active)                   
                                    </td>*@

                                    @if (item.Active == true)
                                    {
                                        <td style="background-color:green;color:white;">
                                            <label>AKTİF</label>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="background-color:red;color:white;">
                                            <label>PASİF</label>
                                        </td>
                                    }                                 
                                    
                                </tr>
                                @foreach (var subitem in Model)
                                {
                                    if (item.CategoryID == subitem.ParentID)
                                    {
                                        <tr @*style="display:none;"*@>
                                            <td>
                                                @Html.DisplayFor(model => subitem.CategoryID)
                                            </td>
                                               <td style="background-color: mediumpurple; color: white;">
                                                @Html.DisplayFor(model => subitem.CategoryName)
                                            </td>
                                            <td>
                                                <a asp-action="CategoryEdit" asp-route-id="@subitem.CategoryID" class="btn btn-primary">DÜZELT</a>
                                                <a asp-action="CategoryDetails" asp-route-id="@subitem.CategoryID" class="btn btn-info">DETAY</a>
                                                <a asp-action="CategoryDelete" asp-route-id="@subitem.CategoryID" class="btn btn-danger">SİL</a>
                                            </td>

                                            @if (subitem.Active == true)
                                            {
                                                <td style="background-color:green;color:white;">
                                                    <label>AKTİF</label>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="background-color:red;color:white;">
                                                    <label>PASİF</label>
                                                </td>
                                            }

                                        </tr>
                                    }
                                }
                            }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE CONTENT-->
<!-- END CONTENT -->
